body {
    font: 14px "Calibri", Helvetica, Arial, sans-serif;
    background-color: grey;
}

/*Images*/
.icon_pers {
    height: 170px;
    width: 170px;
    padding: 5px
}

.imgLogo {
    height: 200px;
    width: 165px;
    padding: 10px;
    background-color: white;
}

/*Divs*/
#divLogin {
    padding-left: 45%;
    padding-top: 15%;
}

.divBenutzer {
    justify-content: center;
    align-items: center;
    display: flex;
}

.divUserData {
    position: relative;
    text-align: center;
}


.divTitle {
    background-color: #eee;
    text-align: center;
    top: 5px;
}

.divBody {
    padding-left: 200px;
    padding-right: 200px;
}

.divRight {
    width: 185px;
    background-color: #f1f1f1;
    height: 270px;
    position: fixed;
    top: 5px;
    right: 10px;
    box-shadow: 5px 5px 5px 5px #555;
    border-radius: 5px;
}

.divContent {
    background-color: #eeeeee;
}

.divLeft {
    position: fixed;
    top: 5px;
    left: 10px;
    box-shadow: 5px 5px 5px 5px #555;
    border-radius: 5px;
}

/*Menü*/
a {
    color: #00B7FF;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: auto;
    background-color: #f1f1f1;
    height: auto;
    overflow: auto;
    border-radius: 5px;
}

li {
    background-color: white;
}

li a {
    display: block;
    color: black;
    font-size: medium;
    padding: 8px 16px;
    text-decoration: none;
}

li a:hover {
    background-color: #555;
    color: white;
}

.active {
    background-color: #4CAF50;
    color: white;
}